@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Default background color of <body />...etc */
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;

      /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;

      /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;

      /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;

      /* Default border color */
      --border: 216 34% 17%;

      /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
      --input: 216 34% 17%;

      /* Background color for <Card /> */
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;

      /* Primary colors for <Button /> */
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;

      /* Secondary colors for <Button /> */
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;

      /* Used for destructive actions such as <Button variant="destructive"> */
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;

      /* Used for focus ring */
      --ring: 216 34% 17%;

      /* Border radius for card, input and buttons */
      --radius: 0.5rem;
    }
  }

  /*
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2 font-sans text-lg font-medium text-black dark:text-white;
  }
  p {
    @apply max-w-[55ch] font-sans text-base font-normal leading-[1.55] tracking-[0.15px] text-neutral-600 [word-spacing:0.5px] dark:text-neutral-300;
  }

  p > a {
    @apply underline decoration-dotted;
  }

  svg {
    @apply box-content shrink-0;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
  }
  */
}
