@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-50: 210 40% 98.04%; /* #f8fafc */
    --neutral-100: 210 40% 96.08%; /* #f1f5f9 */
    --neutral-200: 214.29 31.82% 91.37%; /* #e2e8f0 */
    --neutral-300: 212.73 26.83% 83.92%; /* #cbd5e1 */
    --neutral-400: 215 20.22% 65.1%; /* #94a3b8 */
    --neutral-500: 215.38 16.32% 46.86%; /* #64748b */
    --neutral-600: 215.29 19.32% 34.51%; /* #475569 */
    --neutral-700: 215.29 25% 26.67%; /* #334155 */
    --neutral-800: 217.24 32.58% 17.45%; /* #1e293b */
    --neutral-900: 222.22 47.37% 11.18%; /* #0f172a */
    --neutral-950: 228.57 84% 4.9%; /* #020617 */
    --primary-50: 183.16 100% 96.27%; /* #ecfeff */
    --primary-100: 185.11 95.92% 90.39%; /* #cffafe */
    --primary-200: 186.21 93.55% 81.76%; /* #a5f3fc */
    --primary-300: 186.99 92.41% 69.02%; /* #67e8f9 */
    --primary-400: 187.94 85.71% 53.33%; /* #22d3ee */
    --primary-500: 188.74 94.5% 42.75%; /* #06b6d4 */
    --primary-600: 191.65 91.4% 36.47%; /* #0891b2 */
    --primary-700: 192.92 82.28% 30.98%; /* #0e7490 */
    --primary-800: 194.37 69.57% 27.06%; /* #155e75 */
    --primary-900: 196.36 63.64% 23.73%; /* #164e63 */
    --primary-950: 197 78.95% 14.9%; /* #083344 */
    --accent-highlight-50: 166.15 76.47% 96.67%; /* #f0fdfa */
    --accent-highlight-100: 167.23 85.45% 89.22%; /* #ccfbf1 */
    --accent-highlight-200: 168.39 83.78% 78.24%; /* #99f6e4 */
    --accent-highlight-300: 170.57 76.92% 64.31%; /* #5eead4 */
    --accent-highlight-400: 172.46 66.01% 50.39%; /* #2dd4bf */
    --accent-highlight-500: 173.41 80.39% 40%; /* #14b8a6 */
    --accent-highlight-600: 174.67 83.85% 31.57%; /* #0d9488 */
    --accent-highlight-700: 175.34 77.44% 26.08%; /* #0f766e */
    --accent-highlight-800: 176.1 69.37% 21.76%; /* #115e59 */
    --accent-highlight-900: 175.93 60.82% 19.02%; /* #134e4a */
    --accent-highlight-950: 178.6 84.31% 10%; /* #042f2e */
    --accent-danger-50: 0 85.71% 97.25%; /* #fef2f2 */
    --accent-danger-100: 0 93.33% 94.12%; /* #fee2e2 */
    --accent-danger-200: 0 96.3% 89.41%; /* #fecaca */
    --accent-danger-300: 0 93.55% 81.76%; /* #fca5a5 */
    --accent-danger-400: 0 90.6% 70.78%; /* #f87171 */
    --accent-danger-500: 0 84.24% 60.2%; /* #ef4444 */
    --accent-danger-600: 0 72.22% 50.59%; /* #dc2626 */
    --accent-danger-700: 0 73.71% 41.76%; /* #b91c1c */
    --accent-danger-800: 0 70% 35.29%; /* #991b1b */
    --accent-danger-900: 0 62.82% 30.59%; /* #7f1d1d */
    --accent-danger-950: 0 74.68% 15.49%; /* #450a0a */
    --accent-warning-50: 54.55 91.67% 95.29%; /* #fefce8 */
    --accent-warning-100: 54.92 96.72% 88.04%; /* #fef9c3 */
    --accent-warning-200: 52.76 98.31% 76.86%; /* #fef08a */
    --accent-warning-300: 50.44 97.85% 63.53%; /* #fde047 */
    --accent-warning-400: 47.95 95.82% 53.14%; /* #facc15 */
    --accent-warning-500: 45.4 93.39% 47.45%; /* #eab308 */
    --accent-warning-600: 40.61 96.12% 40.39%; /* #ca8a04 */
    --accent-warning-700: 35.45 91.67% 32.94%; /* #a16207 */
    --accent-warning-800: 31.76 80.95% 28.82%; /* #854d0e */
    --accent-warning-900: 28.42 72.52% 25.69%; /* #713f12 */
    --accent-warning-950: 26 83.33% 14.12%; /* #422006 */
    --accent-positive-50: 138.46 76.47% 96.67%; /* #f0fdf4 */
    --accent-positive-100: 140.62 84.21% 92.55%; /* #dcfce7 */
    --accent-positive-200: 141 78.95% 85.1%; /* #bbf7d0 */
    --accent-positive-300: 141.71 76.64% 73.14%; /* #86efac */
    --accent-positive-400: 141.89 69.16% 58.04%; /* #4ade80 */
    --accent-positive-500: 142.09 70.56% 45.29%; /* #22c55e */
    --accent-positive-600: 142.13 76.22% 36.27%; /* #16a34a */
    --accent-positive-700: 142.43 71.81% 29.22%; /* #15803d */
    --accent-positive-800: 142.78 64.23% 24.12%; /* #166534 */
    --accent-positive-900: 143.81 61.17% 20.2%; /* #14532d */
    --accent-positive-950: 144.88 80.39% 10%; /* #052e16 */
    --accent-focus: 270.74 91.01% 65.1%; /* #a855f7 */
    --radius: 0.5rem;
  }

  body {
    @apply bg-neutral-100 font-sans text-neutral-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2 text-lg font-medium text-neutral-950;
  }
  p {
    @apply max-w-[55ch] text-neutral-800;
  }
  svg {
    @apply box-content shrink-0;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
  }
  /*
  p {
    @apply max-w-[55ch] font-sans text-base font-normal leading-[1.55] tracking-[0.15px] text-neutral-600 [word-spacing:0.5px] dark:text-neutral-300;
  }

  p > a {
    @apply underline decoration-dotted;
  }

  svg {
    @apply box-content shrink-0;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
  }
  */
}
